<%- include('includes/header') %>
<% 
    var name = locals.err.name === undefined ? 'Error' : err.name
    var statusCode = locals.err.statusCode === undefined ? '500' : err.statusCode
    var message = locals.err.message === undefined ? 'Something went wrong...' : err.message
%>

<h1>Error</h1>
<h2><%= name %> - <%= statusCode %></h2>
<p><%= message %></p>

<%- include('includes/footer') %>