<%- include('includes/header') %>

<%
    var quizzes = locals.quizzes === undefined ? [] : quizzes
%>

<% if(quizzes.length === 0){ %>
<% if(locals.isLoggedIn){ %>
<h3>Create your first quiz!</h3>
<a href="/quizzes/add" class="btn">Create Quiz</a>
<% } else { %>
<h2>No Quiz created by any user</h2>
<p><a href="/login" class="link">Login</a> or <a href="/signup" class="link">Signup</a> to create your own quiz!</p>
<% } %>
<% } %>

<% quizzes.forEach(quiz => { %>
<div class="quiz">
    <div class="quiz__main">
        <h2><%= quiz.title %></h2>
        <b>Author:</b>
        <a href="/profile/<%= quiz.author.id %>" class="link"><%= quiz.author.username %></a>
        <br>
        <small>
            <b>Posted: <%= quiz.createdAt.toDateString().slice(4) %></b>
        </small>
        <p class="quiz__description"><%= quiz.description %></p>
    </div>
    <div class="quiz__features">
        <b>Difficulty:</b> <%= quiz.difficulty %>
        <br>
        <b>Total questions:</b> <%= quiz.questions.length %>
        <br>
    </div>
    <div class="quiz__controls">
        <% if(locals.isLoggedIn){ %>
        <% if(quiz.important){ %>
        <div class="quiz__important">
            <i class="fas fa-star"></i>
            </b>
        </div>
        <form action="/quizzes/important/remove/<%= quiz.id %>" method="POST">
            <button class="small"><i class="fas fa-times-circle"></i> Mark Unimportant</button>
        </form>
        <% } else { %>
        <form action="/quizzes/important/add/<%= quiz.id %>" method="POST">
            <button class="small"><i class="fas fa-star"></i> Mark Important</button>
        </form>
        <% } %>

        <% } %>
        <a class="btn small success" href="/quizzes/<%= quiz.id %>"><i class="fas fa-eye"></i> View</a>
    </div>
</div>
<% }) %>


<%- include('includes/footer') %>