<%- include('../includes/header') %>

<h1>My Account</h1>

<p>Name: <b><%= user.username %></b></p>
<p>Email: <b><%= user.email %></b></p>

<form action="/users/delete" method="POST" id="form--delete-account">
    <button class="danger" id="button--delete-account">Delete My Account</button>
</form>
<h2><i class="fas fa-book"></i> My quizzes</h2>

<% user.quizzesCreated.forEach((quiz, i) => { %>
<div>
    <%= `${i+1}.` %>
    <a href="/quizzes/<%= quiz.id %>" class="link">
        <%= quiz.title %>
    </a>
    <form class="form--delete-quiz" action="/quizzes/delete/<%= quiz.id %>" method="POST">
        <button class="button--delete-quiz danger"><i class="fas fa-times-circle"></i> Delete Quiz</button>
    </form>
</div>
<% }) %>

<h2><i class="fas fa-star"></i> Important Quizzes</h2>
<% if(user.quizzesImportant.length > 0) { %>
<% user.quizzesImportant.forEach((imp, i) => { %>
<div>
    <%= `${i+1}.` %>
    <a href="/quizzes/<%= imp.quiz.id %>" class="link">
        <%= imp.quiz.title %>
    </a>
    <form action="/quizzes/important/remove/<%= imp.quiz.id %>" method="POST">
        <button><i class="fas fa-times-circle"></i> Mark as unimportant</button>
    </form>
</div>
<% }) } else { %>
<p>You have not added any important quizzes.</p>
<% } %>

<h2><i class="fas fa-pen"></i> Quizzes Taken</h2>

<% if(user.quizzesTaken.length > 0){ %>
<% user.quizzesTaken.forEach((quizTaken, i) => { %>
<div>
    <%= `${i + 1}.` %>
    <a href="/quizzes/<%= quizTaken.quiz.id %>" class="link">
        <%= quizTaken.quiz.title %>
    </a>
    | Scored <%= quizTaken.points %> / <%= quizTaken.totalPoints %>
</div>
<% }) %>
<% } else { %>
<p>You have not taken any quizzes.</p>
<% } %>


<script src="/js/popup.js"></script>
<%- include('../includes/footer') %>