<%- include('../includes/header') %>

<h1>My Account</h1>

<p>Name: <%= user.username %></p>
<p>Email: <%= user.email %></p>

<h2>My quizzes</h2>

<% user.quizzesCreated.forEach((quiz, i) => { %>
<%= `${i+1}.` %>
<a href="/quizzes/<%= quiz.id %>" class="btn">
    <%= quiz.title %>
</a>
<% }) %>

<h2>Important Quizzes</h2>
<% if(user.quizzesImportant.length > 0) { %>
<% user.quizzesImportant.forEach((imp, i) => { %>
<%= `${i+1}.` %>
<a href="/quizzes/<%= imp.quiz.id %>" class="btn">
    <%= imp.quiz.title %>
</a>
<form action="/quizzes/important/remove/<%= imp.quiz.id %>" method="POST">
    <Button>Mark as unimportant</Button>
</form>
<% }) } else { %>
<p>You have not added any important quizzes.</p>
<% } %>

<h2>Quizzes Taken</h2>

<% if(user.quizzesTaken.length > 0){ %>
<% user.quizzesTaken.forEach((quizTaken, i) => { %>
<%= `${i + 1}.` %>
<a href="/quizzes/<%= quizTaken.quiz.id %>"><%= quizTaken.quiz.title %></a>
<%= quizTaken.points %> / <%= quizTaken.totalPoints %>
<% }) %>
<% } else { %>
<p>You have not taken any quizzes.</p>
<% } %>


<%- include('../includes/footer') %>