<%- include('../includes/header') %>

<p>Name: <b><%= user.username %></b></p>
<p>Email: <b><%= user.email %></b></p>

<h2><i class="fas fa-book"></i> Quizzes Created:</h2>

<% user.quizzesCreated.forEach((quiz, i) => { %>
<div>
    <%= `${i+1}.` %>
    <a href="/quizzes/<%= quiz.id %>" class="link">
        <%= quiz.title %>
    </a>
</div>
<% }) %>


<%- include('../includes/footer') %>