<%- include("../includes/header") %>

<% if(locals.quiz !== undefined) { %>

<h1><%= quiz.title %></h1>
<hr>
<p>
    Author:
    <a href="/profile/<%= quiz.author.id %>" class="link"><%= quiz.author.username %></a>
    <br>
    <small>
        Posted: <%= quiz.createdAt.toDateString().slice(4) %>
    </small>
</p>

<% if(locals.user !== undefined){ %>

<% if(quiz.important){ %>
<small><b><i class="fas fa-star"></i> Marked Important</b></small><br>
<form action="/quizzes/important/remove/<%= quiz.id %>" method="POST">
    <button><i class="fas fa-times-circle"></i> Mark Unimportant</button>
</form>
<% } else { %>
<form action="/quizzes/important/add/<%= quiz.id %>" method="POST">
    <button><i class="fas fa-star"></i> Mark Important</button>
</form>
<% } %>

<% } %>

<p><%= quiz.description %></p>
<p>Difficulty: <%= quiz.difficulty %></p>

<% if(locals.user){ %>

<a href="/quizzes/takequiz/<%= quiz.id %>" class="btn"><i class="fas fa-pen"></i> Start quiz</a>

<% } else { %>

<a href="/login" class="btn">Login to Take quiz</a>

<% } %>


<h2>Reviews</h2>
<hr>

<p>Take the quiz to add a review.</p>

<% if(quiz.reviews.length > 0) { %>
<% quiz.reviews.forEach(reviewDoc => { %>
<div class="review">
    <h4 class="review__name"><%= reviewDoc.user.username %></h4>
    <p class="review__text"><%= reviewDoc.review %></p>
</div>
<% }) %>
<% } else { %>
<p>There are no reviews yet.</p>
<% } %>


<% } %>




<%- include("../includes/footer") %>