<%- include("../includes/header") %>

<% if(locals.quiz !== undefined && locals.points !== undefined && locals.totalPoints !== undefined) { %>

<div>
    <h1>Quiz Completed</h1>
    <h3><%= quiz.title %></h3>
    <h3>You scored <%= points %> out of <%= totalPoints %></h3>
</div>
<% } %>


<% if(locals.displayUpdateReviewForm === false) { %>
<form action="/reviews/add" method="POST" class="block">
    <h3>Add a review</h3>
    <input type="hidden" name="quizId" value="<%= quiz.id %>">
    <div class="form-group">
        <label for="reivew"></label>
        <textarea name="review" id="review" rows="6" minlength=4></textarea>
        <a href="/" class="btn">Skip</a>
        <button>Submit Review</button>
    </div>
</form>
<% } else { %>
<form action="/reviews/update" method="POST" class="block">
    <h3 style="margin-bottom: 0;">Add a review</h3>
    <input type="hidden" name="quizId" value="<%= quiz.id %>">
    <div class="form-group">
        <label for="reivew"></label>
        <textarea name="review" id="review" rows="6" minlength=4><%= reviewDoc.review %></textarea>
        <a href="/" class="btn">Skip</a>
        <button>Update Review</button>
    </div>
</form>
<% } %>

<%- include("../includes/footer") %>