<%- include("../includes/header") %>

<% if(locals.quiz !== undefined && locals.points !== undefined && locals.totalPoints !== undefined) { %>

<div>
    <h1>Quiz Completed</h1>
    <h2><%= quiz.title %></h2>
    <h2>You have scored <%= points %> out of <%= totalPoints %></h2>
</div>
<% } %>


<% if(locals.displayUpdateReviewForm === false) { %>
<form action="/reviews/add" method="POST">
    <h2>Add a review</h2>
    <input type="hidden" name="quizId" value="<%= quiz.id %>">
    <div class="form-group">
        <label for="reivew"></label>
        <textarea name="review" id="review" minlength=4></textarea>
        <button>Submit Review</button>
    </div>
</form>
<% } else { %>
<form action="/reviews/update" method="POST">
    <h2>Add a review</h2>
    <input type="hidden" name="quizId" value="<%= quiz.id %>">
    <div class="form-group">
        <label for="reivew"></label>
        <textarea name="review" id="review" minlength=4><%= reviewDoc.review %></textarea>
        <button>Update Review</button>
    </div>
</form>
<% } %>

<%- include("../includes/footer") %>